
@{
    ViewData["Title"] = "Painel";
    Layout = "~/Views/Shared/LayoutMonitor.cshtml";
}
<div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class=panel-heading>
                <h3 class=panel-title>Mensagens: Recebe</h3>
            </div>
            <div class=panel-body>
                <div id="recebeTable">
                    @{
                        Html.RenderPartial("TabelaPartialViewRecebe");
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class=panel-heading>
                <h3 class=panel-title>Mensagens: Resposta</h3>
            </div>
            <div class=panel-body>
                <div id="respostaTable">
                    @{
                        Html.RenderPartial("TabelaPartialViewResposta");
                    }
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script src="~/js/Painel.js"></script>
    }

</div>
