
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/LayoutMonitor.cshtml";
}

<link href="~/css/Home.css" rel="stylesheet" />



<h2>Bem vindo ao Monitor Redis</h2>
<br />
<h5>Este monitor foi criado com o intuito de monitorar as filas do redis e prover informações para auxiliar no suporte prestado pela empresa Oobj</h5>
<h5>Por favor Faça Login para ter acesso ao sistema</h5>

@section scripts{
    <script>
        $(function () {
            $('#hometab').addClass('active');
        });
    </script>
    }